.container{
	position: relative;
}

.container .loading{
	width: 100%;
	position: relative;
	/* background: linear-gradient(#616161 0%, #333 10%, #222); */
	border: 2px solid #64b4b4;
	padding: 20px;
	border-radius: 8px;
	display: flex;
	box-shadow: 0 20 px 35px rgba(102,116,129, 0.5);
}

.container .loading::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	z-index: 10;
	color: white;
}

.container .loading .text{
	position: relative;
	/* color: white; */
}

.container .loading .percent{
	position: relative;
	width: calc(100% - 200px);
	height: 15px;
	top: 2px;
	/* background: #151515; */
	border-radius: 20px;
	border: 1px solid #1e679a;
	margin: 0 10px;
	/* box-shadow: inset 0 0 10px #000; */
	overflow: hidden;
}

.container .loading .percent .progress{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background: linear-gradient(45deg, #22ffde, #2196f3);
	animation: animate 6s ease-in-out infinite;
}

@keyframes animate{
	0%{
		width: 0;
		left: 0;
	}
	50%{
		width: 100%;
		left: 0;
	}
	100%{
		width: 100%;
		left: 100%;
	}
}

