.input-error {
    margin-left: 0.5rem;
    color: #dc3545;
}

@media (max-width: 760px) {
    .form-group {
        margin-bottom: 0px;
    }

    hr {
        margin-bottom: 0.4rem;
        margin-top: 0.4rem;
    }
}

.remove-file{
    margin-left: 5px;
    color: #dc3545;
    font-weight: bold;
    padding: 5px;
}

.remove-file:hover{
    cursor: pointer;
    color: #ff3545;
}

.browse-btn{
    background-color: #e4e4e4;
    border: 1px #707070 solid;
    padding: 3px 10px 3px 10px;
    display: inline-block;
    box-shadow: 1px 1px;
}

.browse-btn:hover{
    cursor: pointer;
    background-color: #a6f4ff;
    border-color: #3fabde;
}